<html>
<head>
<title>/%= title %/</title>
</head>
<body>
<h1>/%= title + "in the body" %/</h1>
<ul>
/%
for(const QString& s : list)
{%/
  <li>/%= s %//%[s]= int calc = 1; for(int i = 0; i < s.size(); ++i) calc += i; return calc; %/</li>
/%
}
%/
</ul>
</body>
</html>
